# =========================
# Whisper.cpp
# =========================

whisper/
models/
build/

# =========================
# Áudios e gravações
# =========================

/audio/
output/
input/*.mp3
input/*.wav
input/*.m4a

# =========================
# Transcrições
# =========================

*.txt

# =========================
# Binários Go
# =========================
*.exe
*.out
*.bin
voz-em-texto
vozcli
voz

# =========================
# Dependências Binárias (Exceções)
# =========================
# Primeiro, permitimos as DLLs e binários pequenos da pasta bin
!bin/**/*.exe
!bin/**/*.dll
!bin/**/*.bin

# Agora, bloqueamos ESPECIFICAMENTE os arquivos que excedem o limite do GitHub
# Isso evita que o erro de 100MB aconteça de novo
bin/windows/ffmpeg.exe
bin/windows/ffprobe.exe
bin/models/*.bin

# =========================
# Go build / cache
# =========================

dist/
build/
tmp/

# =========================
# Sistema
# =========================

.DS_Store
Thumbs.db

# =========================
# IDE
# =========================

.vscode/
.idea/
